
.input-field-container {
    display: flex;
    flex-direction: row;
    position: relative; 
}

.labelInput {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 60px 10px 20px; 
    line-height: 1;
    box-sizing: border-box;
    outline: none;
}

.inputButton {
    position: absolute;
    right: 3px; 
    top: 3px;
    bottom: 3px;
    border: 0;
    background: #b87791;
    color: #fff;
    outline: none;
    margin: 0;
    padding: 0 10px;
    border-radius: 100px;
    z-index: 2;
    cursor: pointer;
}

.scroll-wrapper {
    border-radius: 10px;
    max-height: 40vh;
    overflow-y: auto;
}

.delete-button {
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: #fff;
    background-color: #b87791;
}

mat-expansion-panel-header
{
    height: unset !important;
    padding-top: 30px;
    padding-bottom: 30px;
    /* background: white !important; */
}

.store-icon{
    font-size: 40px !important;
    width: 40px !important; 
    height: 40px !important;
    color: #b87791;
}

mat-list-option{
    height: unset !important;
    padding-top: 4px;
    padding-bottom: 4px;
}

.option-text{
    display: block;
    word-wrap:break-word;
    white-space: normal;
    text-transform: capitalize;
}

mat-expansion-panel{
    border-radius: 25px !important;
}

mat-expansion-panel:not(:last-child){
    margin-bottom: 20px;
}

mat-panel-title{
    flex-basis: unset;
    display: flex;
    flex-direction: row; 
    align-items: center;
}

.store-item-counter{
    margin: 0px;
    margin-top: 4px;
    font-size: smaller;
    color: #b87791;
}

.mdc-list-item:hover::before, .mdc-list-item:focus::before{
    background-color: unset !important;
}

mat-checkbox, mat-list-option {
    --mdc-checkbox-selected-icon-color: #b87791 !important;
    --mdc-checkbox-selected-hover-icon-color: #b87791 !important;
    --mdc-checkbox-selected-focus-icon-color: #b87791 !important;
}

.search-bar{
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 100;
    margin-bottom: 40px;
    --mdc-filled-text-field-container-color: #b87791 !important;
    --mdc-filled-text-field-label-text-color: white !important;
    --mdc-filled-text-field-hover-label-text-color: white !important;
    --mdc-filled-text-field-input-text-color: white !important;
    --mdc-filled-text-field-caret-color: white !important;
    --mdc-filled-text-field-focus-label-text-color: white !important;
    --mdc-filled-text-field-input-text-placeholder-color: white !important;
    --mdc-filled-text-field-container-shape: 0 !important;
}

mat-accordion{
    min-width: 200px;
    width: 80%;
    margin-bottom: 40px !important;
    margin-left: 20px;
    margin-right: 20px;
    align-self: center;
}