<mat-form-field subscriptSizing="dynamic" class="search-bar">
    <mat-label>Search Item</mat-label>
    <input placeholder="Search" name="search" matInput [matAutocomplete]="auto" [(ngModel)]="search_text">
    <mat-autocomplete autoActiveFirstOption  #auto="matAutocomplete">
        @for (option of (stores | pluck: 'items' | flatten | orderBy: 'label' | filterByImpure: ['label']: search_text) ; track option.id) {
          <mat-option [value]="option.label">{{option.label}}</mat-option>
        }
    </mat-autocomplete>
</mat-form-field>

@let stores_filtered = (search_text == "") ? (stores | orderBy: 'name') : (stores | orderBy: 'name' | filterByImpure: ['items.label']: search_text);

<mat-accordion *ngIf="stores_filtered.length != 0">
    <mat-expansion-panel *ngFor="let store of stores_filtered; trackBy: trackByStoreId">
        @let store_items_filtered = (store.items | orderBy: 'label' | filterByImpure: ['label']: search_text);
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-checkbox
                color="primary"
                [checked]="(store_items_filtered.length != 0) && ((store_items_filtered | filterByImpure: ['checked']: true).length == store_items_filtered.length)"
                [indeterminate]="((store_items_filtered | filterByImpure: ['checked']: true).length > 0) && 
                ((store_items_filtered | filterByImpure: ['checked']: true).length < store_items_filtered.length)"
                (change)="store_checkbox_click($event.checked, store_items_filtered)"
                (click)="$event.stopPropagation();">
                </mat-checkbox>
                <div style="display: flex; flex-direction: column; align-items: start;">
                    <h3 style="margin: 0px;display: inline;">{{store.name}}</h3>
                    <p class="store-item-counter">{{(store_items_filtered | filterByImpure: ['checked']: true).length}}/{{store_items_filtered.length}}</p>
                </div>
            </mat-panel-title>
            <mat-panel-description style="justify-content: end;">
                <mat-icon class="store-icon" svgIcon="{{StoreType[store.type]}}"></mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="input-field-container">
            <input class="labelInput" autocapitalize="none" enterkeyhint="enter" type="text" placeholder="Enter your item" (keyup.enter)="add_item_click(store)" [(ngModel)]="store.new_item">
            <button class="inputButton" (click)="add_item_click(store)" type="submit">enter</button>  
        </div>
        <mat-selection-list [disableRipple]="true" (selectionChange)="saveCheckedValue($event, store)" class="itemsList">
            <mat-list-option disableRipple color="primary" *ngFor="let item of store_items_filtered; trackBy: trackByItemId" [value]="item.id" [selected]="item.checked">
                <span class="option-text">{{ item.label }}</span>
            </mat-list-option>
        </mat-selection-list>
    </mat-expansion-panel>
</mat-accordion>

<h3 *ngIf="(stores_filtered.length == 0) && (search_text != '')" style="margin: auto;">No Results Found</h3>

<button class="delete-button" mat-icon-button (click)="deleteCheckedItems()">
    <mat-icon>delete</mat-icon>
</button>
