mat-sidenav-content {
    background-color: white;
    display: flex;
    justify-content: center;
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    width: 25%;
    min-width: 180px;
    max-width: 350px;
    border-radius: 0px;
    padding: 0px;
}

mat-toolbar {
    color: white;
    background-color: #b87791;
}

mat-list {
    padding: 0px;
    width: 100% !important;
}

.listbuttonselected {
    background-color: #b87791a2;
}

.listbuttontextsselected{
    color: white;
}

app-shoppinglist
{
    min-height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}

app-eventcalendar{
    width: 100%;
}

.spinner-container{
    position: fixed;
    width: 100% !important;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin: auto; 
    pointer-events: none !important;
}

:host ::ng-deep .no-touch * {
    pointer-events: none !important; 
}
