mat-sidenav-content {
    background-color: white;
    display: flex;
    justify-content: center;
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    width: 25%;
    min-width: 200px;
    border-radius: 0px;
    padding: 0px;
}

mat-toolbar {
    color: white;
    background-color: #b87791;
}

mat-list {
    padding: 0px;
    width: 100% !important;
}

.listbuttonselected {
    background-color: #b87791a2;
}

.listbuttontextsselected{
    color: white;
}

mat-sidenav-content > *{
    width: 80%;
    min-width: 200px;
}

app-shoppinglist
{
    min-height: fit-content;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}