<div style="display: flex; flex-direction: column; height: 100dvh;"> 
  <mat-toolbar>
    <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
    </div>
    <h1>{{selected_menu_item}}</h1>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
      <mat-list>
        <div *ngFor="let side_menu_item of SideNavMenuItem | keyvalue">
          <mat-list-item class="listbuttons" 
            [ngClass]="{'listbuttonselected': selected_menu_item === side_menu_item.value}" 
            (click)="side_nav_item_click(side_menu_item.value)"
            >
              <p [ngClass]="{'listbuttontextsselected': selected_menu_item === side_menu_item.value}">
                {{side_menu_item.value}}
              </p>
          </mat-list-item>
          <mat-divider></mat-divider>
        </div>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content [ngClass]="{'no-touch': spinner_state}" [ngSwitch]="selected_menu_item">
      <div *ngIf="spinner_state" class="spinner-container">
        <mat-spinner>
        </mat-spinner>
      </div>
      <app-shoppinglist *ngSwitchCase="SideNavMenuItem.Shopping_List"></app-shoppinglist>
      <app-eventcalendar *ngSwitchCase="SideNavMenuItem.Weekly_Meal_Plan"></app-eventcalendar>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
